<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8" />
  <title th:text="'Commandos | ' + (${title} ?: 'Home')"></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link th:href="@{/css/tailwind/output.css}" rel="stylesheet" />
  <link rel="icon" type="image/png" sizes="24x24" th:href="@{/assets/favicon/favicon.png}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <th:block th:replace="fragments/navbar :: navbar(false)"></th:block>

  <section layout:fragment="content" class="min-h-[80vh] h-full w-11/12 mx-auto">
    <p>Page content goes here</p>
  </section>

  <footer>
    <div th:replace="fragments/footer :: footer"></div>
  </footer>

  <script th:src="@{/js/navbar.js}"></script>
</body>

</html>