<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard_layout}">

<head>

</head>

<script>
    //JavaScript to handle the modal visibility
    function toggleModal() {
      const modal = document.getElementById('orderModal');
      modal.classList.toggle('hidden');
      modal.classList.toggle('flex');
    }
</script>

<body>
<div class="bg-gray-100 flex items-center justify-center">


    <section layout:fragment="content" class="flex flex-col items-center justify-between pt-8 w-11/12 mx-auto min-h-[80vh]">
    <p> updte</p>



    </section>


</div>
</body>

</html>