<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{dashboard_layout}">

<body>
  <section layout:fragment="content" class="flex flex-col items-center justify-between pt-8 w-11/12 mx-auto min-h-[80vh]">

    <div class="flex items-center justify-between w-full">
      <h1 class="text-4xl">Users</h1>
      <button
        class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        type="button">
        Add author
      </button>
    </div>

    <!-- Table to display authors -->
    <div class="overflow-x-auto w-full h-full">
      <table class="min-w-full bg-white border border-gray-300 mx-auto">
        <thead>
          <tr class="bg-gray-200 text-gray-700 ">
            <th class="py-3 px-4 border-b">First Name</th>
            <th class="py-3 px-4 border-b">Last Name</th>
            <th class="py-3 px-4 border-b">Email</th>
            <th class="py-3 px-4 border-b">Role</th>
            <th class="py-3 px-4 border-b">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="user : ${users}" class="hover:bg-gray-100 text-center">
            <td class="py-3 px-4 border-b" th:text="${user.firstName}">FirstName</td>
            <td class="py-3 px-4 border-b" th:text="${user.lastName}">LastName</td>
            <td class="py-3 px-4 border-b" th:text="${user.email}">Email</td>
            <td class="py-3 px-4 border-b" th:text="${user.role}">Role</td>
            <td class="py-3 px-4 border-b flex items-center justify-center space-x-2">
              <!-- Update button triggers modal with data -->
              <button class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-700 transition duration-200">
                Update
              </button>

              <form action="" method="post">
                <input type="hidden" name="id" th:value="${user.id}" />
                <input type="hidden" name="action" value="delete">
                <button type="submit" class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-700 transition duration-200">
                  Delete
                </button>
              </form>
            </td>
          </tr>
        </tbody>

      </table>
    </div>

    <!-- Pagination -->
    <div class="flex flex-col items-center mt-4">
      <div class="flex items-center space-x-2">
        <!-- Previous button -->
        <a th:if="${pageNumber > 1}" th:href="@{?page={p}(p=${pageNumber - 1})}"
          class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-l hover:bg-blue-600">
          Previous
        </a>

        <!-- Page numbers -->
        <a th:each="i : ${#numbers.sequence(1, totalPages)}" th:href="@{?page={p}(p=${i})}"
          th:classappend="${i == pageNumber} ? 'bg-blue-500 text-white' : 'bg-gray-200 text-gray-700'"
          class="font-semibold py-2 px-4 rounded hover:bg-blue-500 hover:text-white">
          <span th:text="${i}"></span>
        </a>

        <!-- Next button -->
        <a th:if="${pageNumber < totalPages}" th:href="@{?page={p}(p=${pageNumber + 1})}"
          class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-r hover:bg-blue-600">
          Next
        </a>
      </div>

      <!-- Page info -->
      <span class="mt-2 text-gray-700">
        Page <span th:text="${pageNumber}"></span> of <span th:text="${totalPages}"></span>
      </span>
    </div>
  </section>
</body>

</html>