<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/tailwind/output.css" rel="stylesheet">



<title>Commandos</title>
</head>
<body>
	<!-- Include the Navbar -->
	<th:block th:replace="fragments/navbar :: navbar"></th:block>


	<h1 class="text-4xl font-bold mb-6">Welcome to the Home Page!</h1>

	<footer>
		<!-- Include the footer fragment -->
		<div th:replace="fragments/footer :: footer"></div>
	</footer>
	
	<script src="js/login.js"></script>

</body>
</html>
