<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<body>
  <section layout:fragment="content">
    <div class="flex items-center w-3/5 mx-auto pt-36">
      <div class="hidden w-1/3 md:flex flex-col items-center">
        <img th:src="@{/assets/logo.png}" alt="" class="h-[200px] object-contain">
      </div>
      <div class="w-full md:w-2/3 flex flex-col gap-6">
        <h1 class="text-4xl font-medium">Welcome to Commandos</h1>
        <p class="text-lg">At Commandos, we specialize in providing top-quality wholesale products tailored to meet your
          business needs. Our streamlined orders management system ensures that placing and tracking your orders is
          quick and efficient.</p>
        <button
          class="self-end text-xl rounded-lg px-6 py-3 bg-[#233876] text-gray-200 shadow-lg hover:bg-[#13204a]">Contact
          Us</button>
      </div>
    </div>
  </section>
</body>

</html>