<div th:fragment="navbar">
    <div class="bg-blue-600 p-4 text-white">
        <nav class="container mx-auto flex justify-between">
            <a href="/" class="font-bold">My Website</a>
            <ul class="flex space-x-4">
                <li><a href="/" class="hover:underline">Home</a></li>
                <li><a href="/about" class="hover:underline">About</a></li>
                <li><a href="/contact" class="hover:underline">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>
