<div th:fragment="navbar(isDashboard)">
  <nav class="flex items-center justify-between px-4 shadow-lg bg-[#435274] text-white">
    <a class="flex items-center gap-3" th:href="@{/}">
      <img th:src="@{/assets/logo.png}" alt="">
      <p class="text-2xl">Commandos</p>
    </a>
    <ul class="flex items-center gap-4" th:if="${isDashboard} == false">
      <li><a th:href="@{/}" class="hover:underline">Home</a></li>
      <li><a th:href="@{/contact}" class="hover:underline">Contact</a></li>
      <li><a th:href="@{/about}" class="hover:underline">About</a></li>
    </ul>
    <div th:if="${user == null}">
      <button onclick="openPopup()" class="px-4 py-2 text-white rounded hover:bg-[#6d7faa] transition duration-200"
        type="button">
        Login
      </button>
    </div>

    <div th:unless="${user == null}" onclick="toggleMenu()" class="cursor-pointer relative min-w-20 max-w-40 w-full p-2 bg-gray-500/30 rounded-md">
      <div class="flex items-center w-full">
        <span th:text="${user.firstName}">User</span>
      </div>
      <div id="arrow_icon" class="absolute right-2 top-2 transition-all duration-300">
        <i class='bx bx-chevron-down'></i>
      </div>
      <div id="menu"
        class="absolute top-10 *:w-full text-center right-0 shadow-lg rounded-b-md flex flex-col items-center w-full p-1 text-gray-700 bg-white hidden">
        <a th:href="@{/dashboard}" class="py-4 px-6 text-sm font-medium hover:bg-gray-200">
          Dashboard
        </a>
        <a th:href="@{/logout}" class="py-4 px-6 text-sm font-medium hover:bg-gray-200">
          Logout
        </a>
      </div>
    </div>
</div>
</nav>

<!-- Don't remove for tailwind to apply styles added by js -->
<input type="hidden" class="rotate-180">

<!-- Login Popup -->
<div id="popup" class="fixed w-full h-full top-0 left-0 items-center flex justify-center hidden z-50 bg-black/60">
  <div
    class="bg-white w-[90%] md:w-1/3 h-fit border-2 shadow-xl flex flex-col justify-start items-center overflow-y-auto rounded-2xl md:h-fit">
    <div class="w-[90%] md:w-1/3 h-8 fixed rounded-tr-2xl rounded-tl-2xl">
      <div class="flex justify-end">
        <span onclick="closePopup()" class="text-2xl font-bold cursor-pointer mr-3">&times;</span>
      </div>
    </div>
    <div class="flex flex-col items-center gap-3 mt-10 mb-4 text-center mx-auto w-[90%] md:w-[80%]">
      <h2 class="text-lg font-medium">Login in your account</h2>
      <!-- Modal body -->
      <div class="p-4 md:p-5 w-full">
        <form class="space-y-4" action="#">
          <div class="flex flex-col items-start">
            <label for="email" class="mb-2 text-sm font-medium text-black">Email</label>
            <input type="email" name="email" id="email"
              class="bg-gray-50 border border-blue-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 shadow-lg"
              placeholder="name@company.com" required />
          </div>
          <div class="flex flex-col items-start">
            <label for="password" class="mb-2 text-sm font-medium text-black">Password</label>
            <input type="password" name="password" id="password" placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 shadow-lg"
              required />
          </div>

          <button type="submit"
            class="w-full text-white bg-[#233876] hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>